{% if content %}
    <label>
        <input type="checkbox" {{ printAttribute("name", name) }} value="{{ value }}"{{ attributes }} {{ checked }} />
        {{ render(content) }}
    </label>
{% else %}
    <label>
        <input type="checkbox" {{ printAttribute("name", name) }} value="{{ value }}"{{ attributes }} {{ checked }} />
    </label>
{% endif %}