{%  for option in options %}
<div {{ printAttribute("class", join(classes, ' ')) }}{{ attributes }}>
    <label>
        {% if (value == option.key) %}
            <input type="radio" {{ printAttribute("name", name) }} value="{{ option.key }}" checked />
        {% else %}
            <input type="radio" {{ printAttribute("name", name) }} value="{{ option.key }}" />
        {% endif %}
        {{ option.value }}
    </label>
</div>
{% endfor %}