{{ render(label) }}
<select name="{{ name }}"{{ attributes }}{{ printAttribute("class", join(classes, ' ')) }}>
    {%  for option in options %}
        {% if option.key == value %}
        <option value="{{ option.key }}" selected>{{ option.value }}</option>
        {%  else %}
        <option value="{{ option.key }}">{{ option.value }}</option>
        {% endif %}
    {% endfor %}
</select>