{{ render(label) }}
<select name="{{ name }}"{{ attributes }}{{ printAttribute("class", join(classes)) }}>
    {%  for option in options %}
        {% if option.value == value %}
        <option value="{{ option.value }}" selected>{{ option.key }}</option>
        {%  else %}
        <option value="{{ option.value }}">{{ option.key }}</option>
        {% endif %}
    {% endfor %}
</select>