<!doctype html>
<html{{ attributes }}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ head }}
        <title>{{ title }}</title>
        {{ css }}
        {{ js_top }}
    </head>
    <body{{ body_attributes }}>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    {{ js_bottom }}
    </body>
</html>