<table{{ attributes }}>
    {%  if summary %}
    <summary>{{ summary | render }}</summary>
    {%  endif %}
    <thead>
    {%  for row in header %}
        <tr{{ row.attributes }}>
            {% for col in row.columns %}
                <th{{ col.attributes }}>{{ col | render }}</th>
            {% endfor %}
        </tr>
    {% endfor %}
    </thead>
    <tbody>
        {%  for row in rows %}
        <tr{{ row.attributes }}>
            {%  for col in row.columns %}
            <td{{ col.attributes }}>{{ col | render }}</td>
            {%  endfor %}
        </tr>
        {%  endfor %}
    </tbody>
</table>