<div class="entity_actions_wrapper">
	<ul class="actions_menu">
		<li><a href="{{ '/admin/structure/content-types/add' | path }}">{{ 'Add a new content type' | translate }}</a></li>
	</ul>
</div>

<table class="entity_table">
	<thead>
		<tr>
			<th>{{'Title' | translate}}</th>
			<th>{{'Description' | translate}}</th>
			<th>{{'Operations' | translate}}</th>
		</tr>
	</thead>
	<tbody>
		{{ for entity in entities }}
		<tr>
			<td>{{entity.title | translate}}</td>
			<td>{{entity.description | translate}}</td>
			<td></td>
		</tr>
		{{ endfor }}
	</tbody>
</table>

<!-- Pagination goes here -->
